{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h4>Search Filters:</h4>
            <hr>
            <label for="queryPlayer">Filter by name</label>
            <input type="search" class="form-control" id="queryPlayer" placeholder="YoMama123"
                   title="Type in a name">
            <br>
            <label for="querySteamID">Filter by SteamID</label>
            <input type="search" class="form-control" id="querySteamID"
                   placeholder="76561198071195515" title="Type in a SteamID">
            <br>
            <label for="queryIP">Filter by IP</label>
            <input type="search" class="form-control" id="queryIP"
                   placeholder="192.168.0.1" title="Type in an IP">
            <br>
            <label>Display players with these bans:</label>
            <label class="checkbox-inline"><input type="checkbox" disabled value="">RustDB</label>
            <label class="checkbox-inline"><input type="checkbox" disabled value="">Gameban</label>
            <label class="checkbox-inline"><input type="checkbox" disabled value="">VAC Ban</label>
            <br>
            <br>
            <div id="#alerts">
                <h4>Notifications:</h4>
                <hr>
                <!-- ALERTS -->
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Welcome!</strong> Upon certain events we will notify you here with extra information.
                </div>
            </div>

        </div>
        <div class="col-9 main">
            <div class="table-responsive">
                <table id="playerTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>SteamID</th>
                        <th>IPv4</th>
                        <th>IP Intel</th>
                        <th>Friends</th>
                        <th>Tools</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for player in data %}
                        <tr id="{{ player.steamid }}">
                            <td>
                                {{ player.name }}
                            </td>
                            <td>
                                <a href="https://steamcommunity.com/profiles/{{ player.steamid }}"
                                   target="_blank">{{ player.steamid }}</a>
                                &nbsp;
                                <button onclick="copySteamID('{{ player.steamid }}')" type="button" class="btn btn-info btn-sm"
                                        aria-label="Left Align">
                                    copy
                                </button>
                            </td>
                            <td class="ip">
                                {{ player.ip }}
                            </td>
                            <td class="intel">
                                *
                            </td>
                            <td class="friends">
                                *
                            </td>
                            <td>
                                <button class="btn btn-sm btn-default"
                                        onclick="getIpIntel('{{ player.ip }}', '{{ player.steamid }}', this)">IP Intel
                                </button>
                                <button class="btn btn-sm btn-default" onclick="getFriends('{{ player.steamid }}', this)">
                                    Friends
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}