<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Super cool shit</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Rustopia US</a>
            </div>
              <!--
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
            -->
          </div>
        </nav>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <label for="queryPlayer">Filter by name</label>
                <input type="search" class="form-control" id="queryPlayer" onkeyup="filterName()" placeholder="Player name" title="Type in a name">
                <br>
                <label for="querySteamID">Filter by SteamID</label>
                <input type="search" class="form-control" id="querySteamID" onkeyup="filterSteamID()" placeholder="Player SteamID" title="Type in a SteamID">
                <br>
                <label>Display players with these bans:</label>
                <label class="checkbox-inline"><input type="checkbox" value="">RustDB</label>
                <label class="checkbox-inline"><input type="checkbox" value="">Gameban</label>
                <label class="checkbox-inline"><input type="checkbox" value="">VAC Ban</label>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h2 class="page-header">Player List</h2>
              <div class="table-responsive">
                <table id="playerTable" class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>SteamID</th>
                        <th>Tools</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for name, steamid in data.iteritems() %}
                        <tr>
                            <td>{{ name }}</td>
                            <td><a href="https://steamcommunity.com/profiles/{{ steamid }}" target="_blank">{{ steamid }}</a></td>
                            <td><a id="gf_{{ steamid }}" href="#" onclick="getFriends({{ steamid }})">Check friends</a></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="{{ url_for('static', filename='filters.js') }}"></script>
    </body>
</html>